@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

footer {
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
}

.footer-up {
  height: 50px;
  background-color: #f6f7fa;
}

.footer-down {
  background-color: #ca1016;
}

.footer-up .container {
  display: flex;
  justify-content: center;
}

.footer-up a {
  text-align: center;
  color: black;
  font-size: 15px;
}

.footer-down {
  padding: 15px;
  text-align: center;
  color: white !important;
}

.footer-down a {
  color: white;
}

