.cars-container {
  width: 1090px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .cars-container {
    width: 100%;
    padding: 10px;
  } 
}